extends layout

block content
    h1= title
    p Welcome to #{title}

    div(ng-app='')
      | Add/Remove:
      input(type='number', ng-model='price')
      p Total = {{ (price) | currency }}

    script(src='javascripts/angular.min.js')

