body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.additionClass {
    background-color: #00ff00;
    color:black;
}

.subtractionClass {
    background-color: #ff0000;
    color:white;
}